main{
  width: 100%;
  height: 100vh;
  float: left;
}

#esq{
  width: 50%;
  height: 100vh;
  float: left;
  background: url('./assets/Instagram.png');
  background-size: cover;
  background-position-x: 50%;
}
#dir{
  width: 50%;
  height: 100vh;
  float: left;
}

.logo {
    width: 35%;
    display: block;
    margin: 40px auto;
}

label {
  display: block;
  margin-left: 65px;
  font-weight: bold;
  margin-top: 10px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

input{
  width: 70%;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 30px;
  margin-top: 20px;
  margin-left: 50px;
}

.opcoes a {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 1.1rem;
  color: #3366cc;
  text-decoration: none;
  margin-left: 70px;
}

button {
  width: 70%;
  background-color: #3366cc;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  padding: 20px;
  margin-top: 15px;
  margin-left: 50px;
  cursor: pointer;
}

@media (max-width: 767px) {  /* //celular */

  #esq {
    width: 100%;
    height: 200px; 
  }

  
  .logo {
    width: 70%;
  }

  input,
  button {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  label {
    margin-left: 30px;
  }

  .opcoes a {
    margin-left: 30px;
  }
}
/* TABLET */
@media (min-width: 768px) and (max-width: 1024px) {

  #esq {
    width: 40%; /* imagem um pouco menor */
    height: 100vh;
  }

  #dir {
    width: 50%;
    margin-left: 8%;
    margin-top: 35%;
    font-size: 1.4rem;
   
  }

  .logo {
    width: 50%;
    margin: 30px auto;
  }
}

/* DESKTOP*/
@media (min-width: 1025px) {
}